# 设置 Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}

# 设置 esbuild 镜像
esbuild_download_host=https://npmmirror.com/mirrors

# npm 主镜像
registry=https://registry.npmmirror.com